<%= simple_form_for @lead, html: { class: "contents" } do |form| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
      <ul>
        <% @lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="my-5">
  <%= form.label :name, t('name') %>
  <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>


  <div class="my-5">
    <%= form.input :email, input_html: { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

<div class="my-5">
  <%= form.label :phone, t('phone') %>
  <%= form.telephone_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "(99) 99999-9999" %>
</div>

  <div class="inline">
    <%= form.button :submit, @update, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
